.baseHeader {
  margin-top: 1vh;
  margin-left: 1vw;
  padding-left: 1.5vw;
  font-size: 250%;
  background-color: #30475e;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.baseHeader_mobile {
  margin-top: 3vh;
  margin-left: 5vw;
  padding-left: 5vw;
  font-size: 175%;
  background-color: #30475e;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.subHeader {
  font-weight: 100;
  font-size: 200%;
}

.subHeader_mobile {
  font-weight: 100;
  font-size: 125%;
  margin: 5vw;
}

.websitePicture {
  width: 55vw;
  margin-left: 5vw;
  border-radius: 20px;
  border: solid #ececec 2px;
}

.websitePicture_mobile {
  width: 94vw;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 20px;
  border: solid #ececec 2px;
}

.joinSessionDiv {
  margin-left: 3vw;
  margin-right: 3vw;
  width: 34vw;
  float: right;
  text-align: center;
}

.joinSessionDiv_mobile {
  text-align: center;
  margin-top: 5vw;
}