#sessionBody {
  min-height:100vh;
  min-width: 100vw;
  width: 100%;
  height: 100%;
}

.session-grid-container {
  display: grid;
  min-height: 100vh;
  max-width: 100vw;
}

.discussCards-container {
  width: 20vw;
  min-height: 100vh;
  max-height: 100vh;
  border-right: solid black 1px;
  overflow: scroll;
  grid-row: 1 / span 2;
  grid-column: 1;
}

.cardsSection {
  grid-column: 1;
  grid-row: 1;
  width: 85vw;
}

.usersSection {
  padding-left: 1vw;
  grid-column: 2;
  grid-row: 1;
  min-width: 15vw;
  max-width: 15vw;
  border-left: 1px solid black;
}

.usernameList {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cards-grid-container {
  display: grid;
  width: 85vw;
}

.cardItem {
  overflow: scroll;
  margin: 1vw;
  border: solid black 1px;
  width: 15vw;
  height: 15vw;
  position: relative;
}

.composeCard {
  padding: 0;
  text-align: right;
}

#composeTextArea {
  resize: none;
  border: none;
  width: 100%;
  height: 85%;
  border-bottom: solid black 1px;
}

#votesText {
  position: absolute;
  left: 2.5%;
  bottom: 2.5%;
  margin-bottom: 0;
}

#cardButton {
  font-size: 10%;
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
}

#topicText {
  overflow: scroll;
  width: 100%;
  height: 85%;
  border-bottom: solid black 1px;
  margin-bottom: 0;
}

.nextSectionButton {
  position: absolute;
  width: 13vw;
  bottom: 1vw;
}

.currentDiscussionItem {
  grid-row: 1;
  grid-column: 2;
  width: 65vw;
  height: 60vh;
  position: relative;
}

.column3 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.currentTopicHeader{
  text-align: center;
}

.countdown {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.discussedItemsSection {
  grid-row: 2;
  grid-column: 2;
  border-top: solid black 1px;
  max-height: 40vh;
  overflow: scroll;
  display: grid;
}

.column1 {
  grid-column: 1;
  width: 85vw;
}

.row1{
  grid-row: 1;
}

.finalSpacer {
  width: .01vw;
}